<head>
    <style>
      .loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--surface-overlay);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }
    </style>
  </head>
  
  <div *ngIf="isLoading" class="loading-screen">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>